
html
{
    background-color: slategrey;
    background-image: url(Resources/Background_Main.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}

.header 
{
    background-color: #009999;
    background-size: cover;
    padding: 10px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 3px #1b1b1b;
    font-family: "Verdana";
}

footer
{
    margin: 0;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 3px #1b1b1b;
    font-family: "Verdana";
    background-color: #009999;
}
    

.MenuLinks
{
    text-align: left;
    padding-right: 25px;
}

body
{
    margin: auto;
    height: 100%;
    width: 90%;
    bottom: 75;
    border: inset;
    background-image: url(Resources/Background_Body.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Verdana;
}

h1
{
   text-align: left; 
}
a:link
{
    color: white;
}
a:visited
{
    color: white;
}
a:hover
{
    color: #1b1b1b;
}

.FocusText
{
    text-align: justify;
}

.BlogTitle 
{
    margin-left: 25px;
    max-width: 500px;
    background-color: darkslategrey;
    color: white;
    box-shadow: #1b1b1b  5px 5px 10px;
    font-family: Verdana;
    text-shadow: 2px 2px 2px #1b1b1b;
}
.BlogArea {
    padding: 10px;
    max-width: inherit;
    background-color: white;
    color: black;
    font-family: inherit;
    text-shadow: 2px 2px 2px #1b1b1b;
}
